server:
  port: 19020

spring:
  application:
    name: restaurant-service
#  datasource:
#    driver-class-name: org.postgresql.Driver
#    url: jdbc:postgresql://localhost:5432/restaurant_db
#    username: postgres
#    password: password
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      format-sql: true
#      use_sql_comments: true
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:19000/eureka/


#management:
#  zipkin:
#    tracing:
#      endpoint: "http://localhost:9411/api/v2/spans"
#  tracing:
#    sampling:
#      probability: 1.0