server:
  port: ${RESTAURANT_SERVER_PORT:19020}

spring:
  application:
    name: restaurant-service
  datasource:
    url: ${DB_URL}/restaurant_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      format-sql: false
      use_sql_comments: false
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    property-naming-strategy: SNAKE_CASE

eureka:
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_HOSTNAME}:19000/eureka/



management:
  #  zipkin:
  #    tracing:
  #      endpoint: "http://localhost:9411/api/v2/spans"
  #  tracing:
  #    sampling:
  #      probability: 1.0
  endpoints:
    web:
      exposure:
        include: "*"
