spring:
  application:
    name: auth-service
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        service-id: config-service
        enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:19000/eureka/

management:
  endpoints:
    web:
      exposure:
        include: refresh